@font-face {
  font-family: "Norse";
  src: url(Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background: #333; */
  background: #414824;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6rem;
}

.container {
  width: 60%;
  margin: auto;
  background: #fff;
  height: 100%;
  display: grid;
  grid-template-columns: 1.25fr 2fr;
}

.container .left {
  background: url("./img/dog.jpeg") no-repeat center center/cover;
  background-position: 10% 0%;
  height: 100%;
}

.container .right .exhortation,
.container .right .submit {
  background: #f4f4f4;
}

.container .right .exhortation {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 175px 160px 0 40px;
  font-size: 1.2rem;
  font-weight: bold;
}

.container .right {
  display: flex;
  flex-direction: column;
}

.container .right > * {
  flex: 1;
}

.container .right form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
}

.container .right .form-container {
  padding: 25px 0 0 40px;
}

.container .right .submit {
  padding: 15px 0 0 25px;
}

.container .right .submit button {
  margin-bottom: 15px;
  padding: 15px;
  width: 35%;
  height: 15%;
  margin-left: 15px;
  background-color: #414824;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container .right .submit > p {
  margin-left: 15px;
}

.container .right .form-container > p {
  margin-bottom: 20px;
}

.container form .form-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container form .form-section label {
  font-size: .8rem;
}

.container form .form-section input {
  width: 80%;
  height: 1.7rem;
  margin-bottom: 30px;
  border: #999 solid 1px;
  border-radius: 3px;
}

.submit a {
  color:#414824;
  font-weight: bold;
  text-decoration: none;
}

.submit p {
  margin-top: 25px;
}

.form-container > p {
  font-size: 1.5rem;
}

.container .right .form-container .form .form-section .invalid {
  border: red solid 1px;
}

