@font-face {
  font-family: "Norse";
  src: url(Norse-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background: #333; */
  background: #414824;
}

.container {
  width: 60%;
  margin: auto;
  background: #fff;
  height: 100%;
  display: grid;
  grid-template-columns: 1.25fr 2fr;
}

.container .left {
  background: url("./img/dog.jpeg") no-repeat center center/cover;
  background-position: 10% 0%;
  height: 100%;
}

.container .right .exhortation,
.container .right .submit {
  background: #f4f4f4;
}

.container .right {
  display: flex;
  flex-direction: column;
}

.container .right > * {
  flex: 1;
}

.container .right form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container .right .form-container,
.container .right .submit {
  padding: 25px 0 0 25px;
}

.container .right .submit button {
  margin-bottom: 15px;
  padding: 15px;
  width: 35%;
  height: 15%;
  margin-left: 15px;
  background-color: #414824;
  color: white;
  border: none;
  border-radius: 5px;
}

.container .right .submit > p {
  margin-left: 15px;
}

.container .right .form-container > p {
  margin-bottom: 20px;
}

.container form .form-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container form .form-section input {
  width: 70%;
  height: 1.7rem;
  margin-bottom: 30px;
}

